<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.pretix.libpretixui.android">

    <uses-sdk tools:overrideLibrary="androidx.camera.view, androidx.camera.lifecycle, androidx.camera.core, androidx.camera.camera2, com.serenegiant.usbcameracommon, com.ensody.reactivestate, androidx.security" />

    <application>
        <activity
            android:name=".scanning.ScanActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".PhotoCaptureActivity" />
    </application>

</manifest>