<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.pretix.libpretixui.android">

    <uses-sdk tools:overrideLibrary="de.rki.covpass.http, de.rki.covpass.logging, de.rki.covpass.sdk, de.rki.covpass.sdk.demo, com.ensody.reactivestate, androidx.security" />

    <application>
        <activity
            android:name=".covid.CovidCheckActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".scanning.ScanActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".PhotoCaptureActivity" />
    </application>

</manifest>